@font-face {
    font-family: 'Couture';
    src: url('../font/Couture/subset-Couture-Bold.eot');
    src: url('../font/Couture/subset-Couture-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/Couture/subset-Couture-Bold.woff2') format('woff2'),
        url('../font/Couture/subset-Couture-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat/Montserrat-Bold/subset-Montserrat-Bold.eot');
    src: url('../font/Montserrat/Montserrat-Bold/subset-Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/Montserrat/Montserrat-Bold/subset-Montserrat-Bold.woff2') format('woff2'),
        url('../font/Montserrat/Montserrat-Bold/subset-Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat/Montserrat-Regular/subset-Montserrat-Regular.eot');
    src: url('../font/Montserrat/Montserrat-Regular/subset-Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/Montserrat/Montserrat-Regular/subset-Montserrat-Regular.woff2') format('woff2'),
        url('../font/Montserrat/Montserrat-Regular/subset-Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PT Serif';
    src: url('../font/PT_Serif/subset-PTSerif-Regular.eot');
    src: url('../font/PT_Serif/subset-PTSerif-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/PT_Serif/subset-PTSerif-Regular.woff2') format('woff2'),
        url('../font/PT_Serif/subset-PTSerif-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Quite Chocolatey';
    src: url('../font/QuiteChocolatey/subset-QuiteChocolatey.eot');
    src: url('../font/QuiteChocolatey/subset-QuiteChocolatey.eot?#iefix') format('embedded-opentype'),
        url('../font/QuiteChocolatey/subset-QuiteChocolatey.woff2') format('woff2'),
        url('../font/QuiteChocolatey/subset-QuiteChocolatey.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}