@font-face {
    font-family: 'Montserrat';
    src: url('subset-Montserrat-Regular.eot');
    src: url('subset-Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('subset-Montserrat-Regular.woff2') format('woff2'),
        url('subset-Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

